body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    line-height: 24px;
    font-weight: 200;
    color: #283136;
}

a {
    text-decoration: none;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.description h1 {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    margin: 30px 0 35px 0;
}

h2 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 16px 0;
}

.contacts h4 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin: 25px 0 23px 0;
}

.contacts p {
    line-height: 1.2;
}

.description h4 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    margin: 40px 0 15px 0;
}

.about h4 {
    text-align: center;
    margin: 30px 0 15px 0;
}

li.about-item {
    margin-right: 15px;
}

fieldset {
    border: none;
}

legend {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.social-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.site-navigation-current {
    border-bottom: 2px solid #e74246;
    padding-bottom: 10px;
}

.main-header {
    background-color: #eee;
}

.button {
    background-color: #fb565a;
    padding: 13px 40px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0px 2px 0px 0px #c13135;
    -moz-box-shadow: inset 0px 2px 0px 0px #c13135;
    box-shadow: inset 0px 2px 0px 0px #c13135;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
    -webkit-box-shadow: inset 0px 2px 0px 0px #009958;
    -moz-box-shadow: inset 0px 2px 0px 0px #009958;
    box-shadow: inset 0px 2px 0px 0px #009958;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
    -webkit-box-shadow: inset 0px 2px 0px 0px #ce961f;
    -moz-box-shadow: inset 0px 2px 0px 0px #ce961f;
    box-shadow: inset 0px 2px 0px 0px #ce961f;
}

.btn-gray {
    background-color: #eee;
    color: #000;
    border: 0;
    font-weight: 500;
    padding: 13px 88px;
}

.btn-gray:hover {
    background-color: #dfdfdf;
}

.btn-gray:active {
    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0px 2px 0px 0px #bfbfbf;
    -moz-box-shadow: inset 0px 2px 0px 0px #bfbfbf;
    box-shadow: inset 0px 2px 0px 0px #bfbfbf;
    color: #eee;
}

.btn-pink:active {
    color: white;
}

.main-navigation {
    font-size: 15px;
    line-height: 20px;
    color: rgb (0, 0, 0);
    text-transform: uppercase;
}

.site-navigation,
.checkout,
.about-item,
.pagination-list {
    list-style: none;
}

.site-navigation a,
a.checkout {
    color: #000;
    font-weight: 500;
}

.site-navigation a:hover,
.checkout a:hover,
a.checkout:hover {
    color: #fb565a;
}

.site-navigation a:active,
a.checkout:active {
    color: rgba(0, 0, 0, 0.3);
}

.services-list {
    list-style: none;
}

.service-item {
    text-align: left;
    width: 300px;
    margin-right: 60px;
}

.service-item p {
    width: 249px;
    min-height: 72px;
    margin: 10px 0;
}

.about-factoid {
    font-size: 45px;
    font-weight: 900;
    line-height: 10px;
    color: #000000;
}

.about-factoid span {
    font-size: 22px;
    vertical-align: super;
}

.color-gray,
.color-gray a {
    color: #666;
    font-weight: 700;
}

.about-item p {
    line-height: 1.2
}

.description-item {
    list-style-image: url(../img/red-dash-2.png);
    font-weight: 700;
    line-height: 3;
}

.logo {
    border-top: 1px #9EC1D4;
    border-bottom: 1px #9EC1D4;
    padding-left: 30px;
    width: 215px;
}

.title {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.footer-social ul {
    list-style: none;
}

.footer-wrapper p {
    margin: 8px 0 20px 0;
}

.write-us-item input,
.write-us-item textarea {
    color: #d7dcde;
    padding: 10px;
    border: 2px solid #d7dcde;
    text-align: left;
    width: 340px;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
    border: 2px solid #b4b9bb;
}

.write-us-item input:hover::-webkit-input-placeholder,
.write-us-item textarea:hover::-webkit-input-placeholder {
    color: #b4b9bb;
}

.write-us-item input:hover:-moz-placeholder,
.write-us-item textarea:hover:-moz-placeholder {
    color: #b4b9bb;
}

.write-us-item input:focus,
.write-us-item textarea:focus {
    border: 2px solid #000;
    color: #000;
    outline: none;
}

.write-us-item input:focus::-webkit-input-placeholder,
.write-us-item textarea:focus::-webkit-input-placeholder {
    color: #000;
}

.write-us-item input:focus:-moz-placeholder,
.write-us-item textarea:focus:-moz-placeholder {
    color: #000;
}

input.invalid {
    border: 2px solid red;
    color: red;
    outline: none;
}

.invalid:invalid::-webkit-input-placeholder,
.textarea:invalid::-webkit-input-placeholder {
    color: red;
}

.invalid:invalid:-moz-placeholder,
.invalid:invalid:-moz-placeholder {
    color: red;
}

.logo img {
    opacity: 0.3;
}

.logo img:hover {
    opacity: 1;
}

.logo img:active {
    opacity: 0.1;
}

.filter-input-number,
.filter-input-range {
    background-color: #eee;
}

.range-bg {
    background-color: #eee;
}

/*-- input range color begin--*/

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.4px;
    cursor: pointer;
    background: #00ca74;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00ca74;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1.4px;
    cursor: pointer;
    background: #00ca74;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1.4px;
    cursor: pointer;
    background: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #00ca74;
}

input[type=range]:focus::-ms-fill-lower {
    background: #00ca74;
}

input[type=range]::-ms-fill-upper {
    background: #00ca74;
}

input[type=range]:focus::-ms-fill-upper {
    background: #00ca74;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 5px;
    width: 5px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 5px;
    width: 5px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 5px;
    width: 5px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}

/*-- input range color end--*/

.range-fieldset label {
    text-transform: uppercase;
}

.filter-option,
.catalog-list,
.sort {
    list-style: none;
}

.catalog-item {
    background-repeat: no-repeat;
    background-position: bottom;
    width: 360px;
    height: 614px;
    margin-bottom: 35px;
}

.catalog-item-sedona {
    background-image: url(../img/img-sedona.jpg);
}

.catalog-item-pink {
    background-image: url(../img/img-pink.jpg);
}

.catalog-item-barbershop {
    background-image: url(../img/img-barbershop.jpg);
}

.catalog-item-mishka {
    background-image: url(../img/img-mishka.jpg);
}

.catalog-item-aplus {
    background-image: url(../img/img-aplus.jpg);
}

.catalog-item-kvast {
    background-image: url(../img/img-kvast.jpg);
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item-title {
    text-align: center;
    background-color: #eee;
    font-weight: 400;
    flex-direction: column;
    display: none;
    position: relative;
    bottom: -347px;
    max-height: 220px;
    min-height: 220px;
    overflow: hidden;
}

.catalog-list .catalog-item-title span {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 1.3;
    font-weight: 500;
    max-height: 50px;
    min-height: 40px;
    overflow: hidden;
}

.catalog-item-title a {
    width: 90px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.catalog-item-title h4 {
    margin: 30px 0 14px 0;
}

.filter ul {
    line-height: 40px;
}

.sort a {
    text-transform: uppercase;
    font-weight: 200;
    color: #c9c9c9;
}

.sort a:hover {
    color: #8b8b8b;
}

.sort a:active {
    color: #000;
}

.sort-current {
    text-transform: uppercase;
    font-weight: 200;
    color: #000;
}

.pagination-item a {
    padding: 9px 15px;
    color: #000;
    background-color: #eee;
    line-height: 55px;
    border: 3px solid #eee;
    border-radius: 3px;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

.pagination-item a:focus {
    background-color: #d5d5d5;
    color: #a8a8a8;
    border: 3px solid #d5d5d5;
    border-top: 3px solid #bfbfbf;
    outline: none;
}

.pagination-item-current a {
    color: #000;
    background-color: #fff;
    border: 3px solid #dbdbdb;
    border-radius: 3px;
    padding: 11px 18px;
    line-height: 65px;
}

/* ----- Сеточные стили ----- */

/* ---- Слайдер ------- */

.slider {
    position: relative;

    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item-button {
    padding: 13px 55px;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    text-transform: none;
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

/* ---- Слайдер  end------- */

.main-navigation,
.container,
.services,
.description,
.gallery-logos,
.map-wrapper,
.footer-social-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.container-wrapper-gray {
    background-color: #eee;
}

.main-navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* Временно для сетки */
    min-height: 115px;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo svg:hover {
    fill: #303030;
}

.main-header-logo svg:active {
    fill: #a6a6a6;
}

.site-navigation {
    width: auto;
    display: flex;
    padding-left: 0;
    margin-right: 100px;
}

.site-navigation li {
    padding-left: 50px;
}

.checkout-navigation {
    width: 110px;
    margin: 15px 0;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position-y: 3px;
    text-align: right;
}

.services-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 80px;
    border-bottom: 1px #eee solid;
    padding-bottom: 80px;
}

.description-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.description-left {
    width: 660px;
}

.about {
    width: 360px;
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 50px;
}

.gallery-logos-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 0;
    border-bottom: 1px #eee solid;
    border-top: 1px #eee solid;
    align-items: center;
    margin: 40px 0 80px 0;
}

.footer-social {
    display: flex;
    align-items: flex-end;
    margin: 55px 0;
}

.footer-social ul {
    display: flex;
    width: 260px;
    list-style: none;
    margin-right: 140px;
    padding-left: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 12px;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0px 2px 0px 0px #c13135;
    -moz-box-shadow: inset 0px 2px 0px 0px #c13135;
    box-shadow: inset 0px 2px 0px 0px #c13135;
}

.social-button svg:active #vkontakte {
    fill: #e37376;
}

.social-button svg:active #facebook {
    fill: #e37376;
}

.social-button svg:active #instagram {
    fill: #e37376;
}

.social-text p {
    width: 6000px;
    min-height: 80px;
}

.map {
    height: 416px;
    position: relative;
}

.map-flex {
    display: flex;
    justify-content: flex-start;
    height: 416px;
    position: absolute;
    z-index: 1;
    top: 0;
}

.contacts {
    width: 220px;
    height: 255px;
    background-color: white;
    padding: 27px 50px;
    align-self: center;
}

.contacts a.button {
    padding: 13px 45px;
    margin-top: 20px;
}

.footer-social-wrapper {
    display: flex;
    align-items: flex-end;
}

.write-us-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 760px;
    padding: 80px 100px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    margin-top: 167px;
    margin-bottom: 150px;
    background: white;
}

.form-1st-row {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.form-2nd-row {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 35px 0 30px 0;
}

.write-us-item {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.write-us-item label {
    padding-bottom: 8px;
}

.write-us-item textarea {
    width: 740px;
    min-height: 90px;
    resize: vertical;
}

.modal-button {
    width: 260px;
    margin-top: 53px;
    border: 0;
}

.modal-close {
    border: 0;
    opacity: 0.3;
    cursor: pointer;
    outline: 0px;
    -webkit-appearance: none;
    background: none;
    padding: 0;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

/*************Catalog*************/

h1.page-title {
    text-align: center;
    padding: 80px 0 115px 0;
    background-color: #eee;
    font-weight: 500;
    font-size: 55px;
    margin: 0;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;
}

.catalog {
    width: 760px;
}

.sort-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 56px auto;
}

.sort {
    display: flex;
    margin: 0;
    padding: 0;
}

.sort li {
    padding-right: 25px;
}

li.arrow {
    padding-right: 20px;
}

li.arrow-last {
    padding-right: 0;
}

li.arrow-active svg path {
    fill: #000;
}

li svg:hover #arrow-down,
li svg:hover #arrow-up {
    fill: #a6a6a6;
}

li svg:active #arrow-down,
li svg:active #arrow-up {
    fill: #000;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.pagination-list li {
    margin-right: 13px;
}

.pagination-item-last a {
    text-transform: uppercase;
    padding: 9px 77px;
}

/*************Filter*************/

.filter-item {
    padding: 0;
    border: none;
    width: 260px;
    margin: 58px auto;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.sort-wrapper div {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

/*************Filter-end*************/

.filter-grid,
.filter-grid ul,
.filter-features,
.filter-features ul {
    padding: 0;
    margin: 0;
    margin-top: 7px;
}

.filter-option label {
    color: #283136;
    cursor: pointer;

}

.filter-grid {
    margin: 58px 0 40px 0;
}

.filter-features {
    margin: 40px 0;
}

.filter-input-radio {
    height: 25px;
    width: 25px;
    display: none;
}

.filter-input-radio + label::before {
    position: relative;
    content: url(../img/radio-off.svg);
    top: 6px;
    left: -8px;
    padding-left: 8px;
}

.filter-input-radio + label:hover::before {
    content: url(../img/radio-off-black.svg);
}

.filter-input-radio:disabled + label::before {
    content: url(../img/radio-off-disabled.svg);
}

.filter-input-radio:checked + label::before {
    position: relative;
    top: 6px;
    content: url(../img/radio-on.svg);
    left: -8px;
    padding-left: 8px;
}

.filter-input-radio:checked:hover + label::before {
    content: url(../img/radio-on-black.svg);
}

.filter-input-radio:checked:disabled + label::before {
    content: url(../img/radio-on-disabled.svg);
}

.filter-option label:hover {
    color: black;
}

.filter-input-checkbox {
    height: 25px;
    width: 25px;
    display: none;
}

.filter-input-checkbox + label::before {
    position: relative;
    top: 6px;
    content: url(../img/checkbox-off-gray.svg);
    left: -8px;
    padding-left: 8px;
}

.filter-input-checkbox + label:hover::before {
    content: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:disabled + label::before {
    content: url(../img/checkbox-off-disabled.svg);
}

.filter-input-checkbox:checked + label::before {
    position: relative;
    top: 6px;
    content: url(../img/checkbox-on-gray.svg);
    left: -8px;
    padding-left: 8px;
}

.filter-input-checkbox:checked + label:hover::before {
    content: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
    content: url(../img/checkbox-on-disabled.svg);
}

.pagination-list {
    margin: 15px 0 55px 0;
}

/*************Modal*************/

@keyframes bounce {
    0% {
        transform: scale (0);
    }

    50% {
        transform: scale (50);
    }

    75% {
        transform: scale (75);
    }

    100% {
        transform: scale (100);
    }
}

.write-us {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes shake {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal-error {
    animation: shake 0.6s;
}
